<h2><%= @restaurant.name %></h2>
<div id="restaurant_details">
  <ul>
    <li>Address: <%= "#{@restaurant.address} #{@restaurant.city} #{@restaurant.state} #{@restaurant.zip_code}" %></li>
    <li>Description: <%= @restaurant.description%></li>
    <li>Cuisine/Category: <%=@restaurant.category%></li>
  </ul>
</div>
<div class="back">
<%= link_to "Back", restaurants_path%>
</div>
<div>
  <%= link_to "Review this Restaurant", new_restaurant_review_path(params[:id]) %>
</div>
